extends layout

block content
  h1= title
  p Welcome to #{title}
  p=user

  a(href='/auth/facebook')
    img(src='/images/login-with-facebook.png', width='154', height='22')
  #fb-root
  script(type='text/javascript').
    // Additional JS functions here
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '631478983538917', // App ID
        channelUrl : 'http://goom-server.nodejitsu.com:3000/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });

      FB.Event.subscribe('auth.authResponseChange', function(response) {
        // Here we specify what we do with the response anytime this event occurs. 
        if (response.status === 'connected') {
          console.log('Welcome!  Fetching your information.... ');
          FB.api('/me?fields=id,name,friends.fields(name)', function(response) {
            //console.log(response);
            //for(var i=0; i<response.friends.data.length; i++) {
             // console.log(response.friends.data[i]);
            //}
          });
        } else if (response.status === 'not_authorized') {
          FB.login();  //when not logged in or not authorized - should change this
        } else {
          FB.login();  //initially when no one is logged in
        }
      });
    };

    // Load the SDK asynchronously
    (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
    }(document));
